i {
  font-size:3.2rem;
   -webkit-animation: bounce .5s infinite;
  animation: bounce .5s infinite;
  animation-direction: alternate;
}


@keyframes bounce {
  0% {
    margin-top:0;
  }
  100% {
    margin-top:20px;
  }
}
@-webkit-keyframes bounce {
  0% {
    margin-top:0;
  }
  100% {
    margin-top:20px;
  }
}